.logo {
  margin-bottom: 4.06rem;
}
.logo + ul {
  list-style: none;
}

.logo + ul + button {
  background: none;
  border: none;
  p {
    color: var(--highlight);
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}

.card {
  margin-bottom: 3.125rem;

  a {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.125rem;
    letter-spacing: -0.5px;
    color: var(--heading);

    max-width: 39.37rem;
  }

  & > p {
    margin-top: 0.5rem;
  }

  div {
    display: flex;
    flex-direction: row;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin-right: 1.56rem;
      margin-top: 1.5rem;

      p {
        font-size: 0.875rem;
        line-height: 1.06rem;
        font-weight: 400;
        color: var(--info);
        margin-left: 0.5rem;
      }
    }
  }
}
